/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/
/*******add color to body*******/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body.themedark {
  --BG: hsl(230deg, 17%, 14%);
  --TopBGPattern: hsl(232deg, 19%, 15%);
  --CardBG: hsl(228deg, 28%, 20%);
  --CardBGHover: hsl(230deg, 26%, 28%);
  --DesaturatedBlueText: hsl(228deg, 34%, 66%);
  --WhiteText: hsl(0deg, 0%, 100%);
}

body.themelight {
  --BG: hsl(0deg, 0%, 100%);
  --TopBGPattern: hsl(225deg, 100%, 98%);
  --CardBG: hsl(227deg, 47%, 96%);
  --CardBGHover: hsl(225deg, 13%, 87%);
  --DesaturatedBlueText: hsl(228deg, 12%, 44%);
  --WhiteText: hsl(230deg, 17%, 14%);
}

/*********************************************************************/
/*******************************setting*******************************/
/*********************************************************************/
/******************setting fonts******************/
/******************setting page & body******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 14px;
  background-color: var(--BG);
  text-align: center;
  color: var(--WhiteText);
}

/******************setting text******************/
h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 0.8rem;
  color: var(--DesaturatedBlueText);
}

h5 {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--DesaturatedBlueText);
}

p {
  color: hsl(163deg, 72%, 41%);
  font-size: 0.8rem;
}

p.negativ {
  font-size: 0.8rem;
  color: hsl(356deg, 69%, 56%);
}

/******************setting Mixin*******************/
/******************setting link color*******************/
a,
a:visited {
  color: rgb(154, 6, 6);
}

/*********************************************************************/
/*********************************Nav*********************************/
/*********************************************************************/
nav {
  width: 100%;
  height: 245px;
  background-color: var(--TopBGPattern);
  position: relative;
}
nav .flexnav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-top: 42px;
}
nav .flexnav .social {
  text-align: left;
}
nav .flexnav .flexswitch {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
nav .flexnav .flexswitch p.mode {
  margin-top: 5px;
  font-weight: 700;
  color: var(--WhiteText);
}
nav .flexnav .flexswitch .switchs {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 50px;
  height: 26px;
  padding: 4px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(to right, hsl(210deg, 78%, 56%), hsl(146deg, 68%, 55%));
}
nav .flexnav .flexswitch .switchs .dark {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: var(--CardBG);
  opacity: 1;
}
nav .flexnav .flexswitch .switchs .light {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin-left: 5px;
  background-color: var(--CardBG);
  opacity: 0;
}

/********************************************************************/
/*******************************Main*******************************/
/********************************************************************/
main {
  width: 100%;
}
main .board1 {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0 auto;
  transform: translateY(-108px);
}
main .board1 .nathanfb,
main .board1 .nathantw,
main .board1 .nathaninsta,
main .board1 .nathanytb {
  height: 216px;
  background-color: var(--CardBG);
  border-radius: 4px;
  cursor: pointer;
}
main .board1 .nathanfb:hover,
main .board1 .nathantw:hover,
main .board1 .nathaninsta:hover,
main .board1 .nathanytb:hover {
  background: var(--CardBGHover);
}
main .board1 .nathanfb h3,
main .board1 .nathantw h3,
main .board1 .nathaninsta h3,
main .board1 .nathanytb h3 {
  margin-top: 26px;
}
main .board1 .nathanfb h2,
main .board1 .nathantw h2,
main .board1 .nathaninsta h2,
main .board1 .nathanytb h2 {
  margin: 26px 0 10px 0;
}
main .board1 .nathanfb h5,
main .board1 .nathantw h5,
main .board1 .nathaninsta h5,
main .board1 .nathanytb h5 {
  margin-bottom: 26px;
}
main .board1 .nathanfb {
  border-top: 6px solid hsl(208deg, 92%, 53%);
}
main .board1 .nathantw {
  border-top: 6px solid hsl(203deg, 89%, 53%);
}
main .board1 .nathaninsta {
  height: 216px;
}
main .board1 .gradianttop {
  height: 6px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background: linear-gradient(to right, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
}
main .board1 .nathanytb {
  border-top: 6px solid hsl(348deg, 97%, 39%);
}
main .overview {
  margin: 20px 0;
}
main .board2 {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 25px;
  margin: 0 auto;
}
main .board2 .page,
main .board2 .likefb,
main .board2 .likeig,
main .board2 .profileig,
main .board2 .retweettw,
main .board2 .liketw,
main .board2 .likeytb,
main .board2 .viewytb {
  background-color: var(--CardBG);
  height: 125px;
}
main .board2 .page:hover,
main .board2 .likefb:hover,
main .board2 .likeig:hover,
main .board2 .profileig:hover,
main .board2 .retweettw:hover,
main .board2 .liketw:hover,
main .board2 .likeytb:hover,
main .board2 .viewytb:hover {
  background: var(--CardBGHover);
  cursor: pointer;
}

/********************************************************************/
/*******************************Footer*******************************/
/********************************************************************/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */