/********************************************************************/
/*******************************Main*******************************/
/********************************************************************/
main {
  width: 100%;

  .board1 {
    display: grid;
    width: 80%;
    height: 216px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    margin: 0 auto;
    transform: translateY(-108px);

    .nathanfb,
    .nathantw,
    .nathaninsta,
    .nathanytb {
      background-color: var(--CardBG);
      border-radius: 4px;
    }

    .nathanfb {
      border-top: 6px solid $Facebook;
    }
    .nathantw {
      border-top: 6px solid $Twitter;
    }
    .nathaninsta {
      border-top: 6px solid $Instagram;
    }
    .nathanytb {
      border-top: 6px solid $YouTube;
    }
  }

  .overview {
    margin: 20px 0;
  }

  .board2 {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
    margin: 0 auto;

    .page,
    .likefb,
    .likeig,
    .profileig,
    .retweettw,
    .liketw,
    .likeytb,
    .viewytb {
      background-color: $CardBG;
      height: 125px;
    }
  }
}
