/**********************************************************************/
/*Main*/
/**********************************************************************/

main {
  @include center;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;

  .flexnav {
    @include center;
    justify-content: space-between;
    width: 100%;
    background-color: $TopBGPattern;
    height: 245px;

    .social {
      text-align: left;
    }
    .flexswitch {
      @include row;
      gap: 10px;

      .switchs {
        @include center;
        justify-content: flex-start;
        width: 72px;
        height: 26px;
        padding: 5px;
        border-radius: 15px;
        cursor: pointer;
        background-color: blue;

        .dark {
          width: 18px;
          height: 18px;
          border-radius: 100px;
          background-color: green;
        }

        .light {
          width: 18px;
          height: 18px;
          border-radius: 100px;
          margin-left: 4px;
          background-color: green;
        }
      }
    }
  }

  .board1 {
    display: grid;
    width: 100%;
    height: 216px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;

    .nathanfb,
    .nathantw,
    .nathaninsta,
    .nathanytb {
      background-color: $CardBG;
    }
  }

  .overview {
    margin: 20px 0;
  }

  .board2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;

    .page,
    .likefb,
    .likeig,
    .profileig,
    .retweettw,
    .liketw,
    .likeytb,
    .viewytb {
      background-color: $CardBG;
      height: 125px;
    }
  }
}
